* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(211, 214, 214);
}

header {
    width: 100%;
    height: 70px;
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 50px;;
}

ul{
    list-style-type: none;
}

li{
    margin: 15px 0;
}

.padding-sides-50 {
    padding: 0 50px;
}

.logo-header {
    height: 100%;
    vertical-align: middle;
}

.title-header {
    font-size: 25px;;
    font-weight: bold;
    vertical-align: middle;
}

.container {
    width: 75%;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.buttons-toolbar {
    height: 50px;
    border-bottom: 1px solid rgb(211, 214, 214);
    line-height: 50px;
}

.circle {
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0 3px;
    margin-right: 5px;
}

.checked {
    border: 1px solid rgb(52, 189, 52);
    color: rgb(52, 189, 52);
}

.cross {
    border: 1px solid red;
    color: red;
}

.link {
    color: white;
    border-radius: 30px;
    padding: 7px;
    margin: 5px;
}

.editorial {
    background-color: rgb(65, 101, 155);
}

.q1 {
    background-color: rgb(126, 7, 126);
}

.recruiting {
    background-color: teal;
}

.mobile {
    background-color: orangered;
}

.website {
    background-color: violet;
}

.sales {
    background-color: yellowgreen;

}
